header.bg-rojoP.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center(class="text-purple-700") Real
            span.font-normal.text-black-900 Estate
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(href="" class="bg-rojoS py-2 px-10 rounded-lg hover:bg-grayP") Properties 
            a(href="" class="bg-rojoS py-2 px-10 rounded-lg hover:bg-grayP") Profile 
            a(href="/login" class="bg-rojoS py-2 px-10 rounded-lg hover:bg-grayP") Logout                    